.footer {
  height: 10vh;
  background-color: $blue-background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    width: 100%;
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 1.5rem;
    font-style: italic;
    color: $blue-color;
  }

  &__nav {
    @include flex-center;

    li {
      list-style: none;
      padding-left: 1rem;
      cursor: pointer;
    }
  }
}
