.main-hero {
  background-color: $creamy;
  height: 90vh;

  &__content {
    @include flex-center;
    @include container;
    height: 100%;
  }

  &__left-content {
    width: 50%;
    // height: 100%;
  }

  &__heading {
    font-size: 2.7rem;
    // font-weight: 900;
    line-height: 3rem;
    color: $dark-text;
  }

  &__paragraph {
    color: $light-text;
    padding: 1rem 0rem;

    &__int {
      color: $blue-color;
      font-weight: 700;
    }
  }

  &__left-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: $blue-color;
    color: #fff;

    &:hover {
      background-color: $light-blue-color;
    }
  }

  &__right-button {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    color: $blue-color;
    font-weight: 600;

    &:hover {
      transform: translateX(2px);
      @include transition-ease(0.2s);
    }
  }

  .avatar {
    padding-top: 1rem;
  }

  .avatars-small {
    // border: 1px solid #fff;
    border-radius: 50%;
    margin-left: -25px;
    @include transition-ease(0.5s);

    &:hover {
      margin-right: 25px;
      transform: scale(1.5);
      @include transition-ease(0.5s);
    }
  }

  .avt-one {
    @include transition-ease(0.5s);

    &:hover {
      margin-right: 25px;
      transform: scale(1.5);
      @include transition-ease(0.5s);
    }
  }

  &__right-content {
    width: 50%;
    height: 100%;
  }

  &__image {
    height: 100%;
    float: right;
    padding: 2rem 0rem;
  }
}
